/* some modifications to silder, adding space in x axis on each slides  */
.slick-slide > div {
    margin: 0 8px;
    /* width: 100% !important; */
}

.slick-track{
    margin-left: 0px !important;
    margin-right: 0px !important;
    width:max-content !important;
}